.put-card {
  //animation: put-card 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: put-card 1s ease-out;
}

@keyframes put-card {
  from {
    transform:translateY(var(--corrZ)) rotateX(-45deg) translate(var(--corrX), var(--corrY)) ;
    transform-origin: bottom center;
  }
  20%{
    transform:translateY(var(--corrZ)) rotateX(-45deg) translate(var(--corrX), var(--corrY))  translateZ(2em);
    transform-origin: bottom center;
  }
  70% {
    transform: translateY(var(--corrZ)) rotateX(-45deg)  translateY(-3em) rotateX(25deg);
  }
  85% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateY(-4.2em) rotateX(45deg);
  }

}


/*
0% {
    transform: rotateX(-45deg) translate3d(var(--correctionX), var(--correctionY),2em);
    transform-origin: center center;
}
60% {
    transform: rotateX(-45deg) translate3d(var(--correctionX), var(--correctionY),2em) translateY(-2em) rotateX(25deg);
}
85% {
    transform: rotateX(-45deg) translate3d(0em, 0em,0em) translateY(-1em) rotateX(35deg);
}
100% {
}*/
