.put-card {
  //animation: put-card 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: put-card 1s ease-out;
  animation-delay: var(--anim-delay);
}

@keyframes put-card {
  from {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translate(var(--corrX), var(--corrY));
    transform-origin: bottom center;
  }
  20% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateX(var(--corrX)) translateZ(1em);
    transform-origin: bottom center;
  }
  70% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateY(-10rem) rotateX(25deg);
  }
  85% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateY(-15rem) rotateX(45deg);
  }

}

.initialize-take-card{
  animation: initialize-take-card 1s ease-out;
  animation-delay: var(--anim-delay);
  visibility: hidden;
}

@keyframes initialize-take-card {
  from {
    transform: translate(var(--corrX), var(--corrY)) rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg);
    transform-origin: bottom center;
    visibility: visible;
  }
  20% {
    transform:
    rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg) translateZ(-4em) rotateX(25deg);
    transform-origin: bottom center;
  }
  80% {
    transform:  translateZ(4em);
  }
  //85% {
  //  transform:
  //}

}

.take-card {
  animation: take-card 1s ease-out;
  animation-delay: var(--anim-delay);
  visibility: hidden;
}


@keyframes take-card {
  from {
    transform: translate(var(--corrX), var(--corrY)) rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg);
    transform-origin: bottom center;
    visibility: visible;
    margin-right: -5rem;
  }
  20% {
    transform: translateY( var(--corrY))
               rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg) translateZ(-2em) rotateX(25deg);
    transform-origin: bottom center;
    margin-right: 0;
  }
  70% {
    transform: translateY( var(--corrY))  translateZ(2em);
  }
  85% {
    transform: translateY( var(--corrY))
  }

}


.other-take-card {
  animation: other-take-card 1s ease-out;
  animation-delay: var(--anim-delay);

}


@keyframes other-take-card {
  from {
    transform: translate(var(--corrX), var(--corrY)) rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg);
    transform-origin: bottom center;
  }
  50% {
    transform: translate(var(--corrX), var(--corrY)) rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg) translateZ(-2rem) translate(var(--right), var(--top)) rotateX(35deg);
    transform-origin: bottom center;
  }
  //40% {
  //  transform: translate(var(--corrX), var(--corrY)) rotateX(45deg) translateY(var(--corrZ)) rotateY(-180deg) translateZ(-2rem) translate(var(--right),var(--top)) rotateX(35deg);
  //  transform-origin: bottom center;
  //}
}

.other-put-card {
  //animation: put-card 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: other-put-card 1s ease-out;
  animation-delay: var(--anim-delay);
}

@keyframes other-put-card {
  from {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translate(var(--corrX), var(--corrY)) scale(0.4);
    transform-origin: bottom center;
  }
  20% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translate(var(--corrX), var(--corrY)) translateZ(1em);
    transform-origin: bottom center;
  }
  70% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateY(-10rem) rotateX(25deg);
  }
  85% {
    transform: translateY(var(--corrZ)) rotateX(-45deg) translateY(-15rem) rotateX(45deg);
  }

}

.sort-hand-cards{
  animation: sort-hand-cards 1s ease-out;
  //animation-delay: var(--anim-delay);

  @keyframes sort-hand-cards {

    from {
      transform:  translate(var(--corrX), var(--corrY));
      transform-origin: bottom center;
    }

    //50% {
    //  transform:  translateX(var(--corrX));
    //  transform-origin: bottom center;
    //}

  }
}
