@import "assets/icomoon/style.css";
@import url('https://fonts.googleapis.com/css?family=Slackey');
@import "common/variable";
body{


  padding: 0;
  height: 100vh;
  box-sizing: content-box;
  margin: 0;
  font-family: 'Slackey', cursive;
  //overflow: hidden;

  perspective-origin: bottom center;
  perspective: 30em;
  //transform-style: preserve-3d;
}
* {
  transition-duration: 0.1s;
  border-radius: 0.5em;
  :focus {
    outline: none;
  }
}

.game{
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("assets/etc/background2.png");



  header.top-header {
    display: flex;
    flex-shrink: 0;


    img.logo {
      width: 5em;

    }
    player-list{
      flex: 1;
    }
  }
}
