body {
  background-image: url("assets/etc/background2.png");
}

game {
  display: block;
}

.game {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  //background-image: url("assets/etc/background2.png");

  side-bar {
    transform: translateZ(-14em);
  }

  header.top-header {
    display: flex;
    flex-shrink: 0;


    img.logo {
      width: 5em;

    }

    player-list {
      flex: 1;
    }
  }
}
