@import "./common/variables";

html {
  overflow: hidden;
}

body {
  //background-image: url("assets/etc/background2.png");
  overflow-y: auto;
}

game{
  display: block;
  perspective-origin: top center;
  perspective: 260em;
}

tk-player-board {
  background: inherit;
  background-attachment: fixed;
}

player-list, control-board, game-table {
  position: sticky;
  top: 0;
  z-index: 1;
}



tk-stage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  &.in-game {
    @media #{$on-medium-screen} {
      height: auto;
    }
  }

}

tk-stage.in-game {
  display: grid;
  grid-template-columns: 1fr 25vw;
  grid-template-rows: 7em;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "players control" "board sidebar" "hand sidebar";

  @media #{$on-medium-screen} {
    grid-auto-rows: auto;
    grid-template-areas: "players control" "board board" "hand hand" "sidebar sidebar";
  }

  control-board {
    grid-area: control;
  }

  game-table {
    display: flex;
    grid-area: board;
    justify-content: center;
    align-items: center;
    @media #{$on-small-screen}{
      top:4em;
    }
  }

  board-game {
    max-width: 34em;

  }

  hand-game {
    grid-area: hand;
    //max-height: 30vh;
    flex-shrink: 0;
    min-height: 10em;
    transform: translateZ(-12em);

    @media #{$on-medium-screen} {
      overflow: visible;
      height: max-content;

      .title {
        font-size: 1em;

        .sorting {
          font-size: 0.8em;

          tk-text {
            display: none;
          }

          button {
            //font-size: .8em;
            text-decoration-line: underline;
            text-decoration-color: palevioletred;
            background: none;
            border: none;
            color: white;
            pointer-events: all;

            //
            //text-shadow: none;
            //box-shadow: none;
          }
        }
      }

    }

  }

  side-bar {
    //transform: translateZ(-14em);
    grid-area: sidebar;
    //top: 0;
    //right: 0;
    //height: 100vh;
    //margin-right: 2em;
    min-width: 15em;
    width: 100%;
    height: 100%;
    justify-self: center;
    overflow-y: auto;

    @media #{$on-medium-screen} {
      height: max-content;
    }

  }

  header.top-header {
    display: contents;
    flex-shrink: 0;
    grid-column: 1/-1;


    img.logo {
      width: 5em;

    }

    player-list {
      flex: 1;
      overflow-x: overlay;
      overflow-y: hidden;
      display: grid;
      grid-auto-flow: column;

      tk-player-board.small-player-panel {
        @media #{$on-small-screen}{
          small-panel-value {
            grid-row: 3;
            grid-column: 1;
          }
        }
      }

      tk-player-board.main-player {
        //position: sticky;
        //left: 0;
      }
    }
  }


}

