.sign-in-board {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-height: 100vh;


  .avatar-select {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    overflow: auto;
    padding: 0;
    border: 0;

    label {
      float: left;
      margin: 0.5em;
      cursor: pointer;
      border-radius: 0.5em;
      position: relative;

      &:hover {
        background: #449fdb;
      }
    }

    [type=radio] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      top: 0;
      bottom: 0;

      margin: 0;
      padding: 0;
      z-index: 0;
      width: 100%;

      &:checked {
        background: #449fdb;
      }
    }


  }

  input {
    font-size: inherit;
    margin: 1em 0;
    padding: 0.5em;
    //display: block;
  }

  .icon {
    font-size: 4em;
    z-index: 1;
    position: relative;
  }

  .main-button{
    min-height: 2em;
  }
}
