@import "../common/variables";

hand-game {
  color: var(--player-color);
  display: block;
  position: relative;
  border-top: 2px solid;
  border-color: currentColor;
  padding: .1em;
  box-sizing: border-box;
  transition: background-color, transform;
  transition-duration: 0.1s;
  perspective-origin: center center;
  //overflow-y: auto;
  margin-top: 2em;
  //padding-top: 2em;
  //scroll-snap-type: y proximity;
  scroll-behavior: smooth;

  //tk-card{
  //  scroll-snap-align: start;
  //}

  .sorting {
    float: right;

    tk-icon {
      pointer-events: all;
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
      fill:white;
      display: inline-block;
    }
    button{
      &:hover{
        transform: scale(1.1);
      }
      &:active{
        transform: scale(0.9);
      }

      tk-icon{
        margin-right: -1em;
        &:nth-child(1){
          transform: rotate(10deg);
        }
        &:nth-child(2){
          transform: rotate(10deg);
        }
        &:nth-child(3){
          transform: rotate(-10deg);
        }
      }
      svg {
        width: 1.5em;
        background: #eee;
        color:black;
        fill:currentColor;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: 1px solid currentColor;
      }

    }
    button#sortColor{

      tk-icon svg{
        &:nth-child(1){
          color: $card-green;
        }
        &:nth-child(2){
          color:$card-green;
        }
        &:nth-child(3){
          color:$card-green;
        }
      }

    }

  }

  .title {
    color: white;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
  }

  .btn-end-turn {
    margin: 0 1em;
    //border: 0.2em solid;
    //height: 2em;
    //float: right;
    //border-radius: 1em;
    //text-transform: capitalize;
    //font-size: 1rem;
    //font-weight: bold;
  }
}

[myturn="true"] hand {
  background-color: currentColor;
  transform: translateY(0rem);
}
