hand-game{
  display: block;
  position: relative;
  flex-shrink: 0;
  border-top: 2px solid;
  min-height: 10em;
  border-color: currentColor;
  padding: 1em;
  box-sizing: border-box;
  transition: background-color, transform;
  transition-duration: 0.1s;
  perspective-origin: center center;
  max-height: 30vh;
  overflow-y: auto;
  //padding-top: 2em;

  .title{
    color: white;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    pointer-events: none;

  }

  .btn-end-turn{
    border: 0.2em solid;
    height: 2em;
    float: right;
    border-radius: 1em;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
  }
}

[myturn="true"] hand{
  background-color: currentColor;
  transform: translateY(0rem);
}
