board-game {

  flex: 1;

  display: flex;
  flex-direction: column;

  //z-index: 1;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  transform: rotateX(45deg) translateZ(0em);
  transform-origin: bottom;
  border: 3px solid var(--border-color);
  background-color: rgba(43, 43, 43, 0.25);
  //transform-style: preserve-3d;
  overflow: visible;

  min-height: 131px;

  &.Y {
    --card-color: rgb(248, 233, 0);
  }

  &.G {
    --card-color: #90cf0a;
  }

  &.B {
    --card-color: #01bef1;
  }

  &.R {
    --card-color: #e44520;
  }

  tk-text {
    position: absolute;
    top: 0;
    font-size: 4em;
  }

  &.taki-mode {
    box-shadow: inset 0 0 5rem var(--card-color);
    animation: glow 5s ease-out alternate infinite;

    @keyframes glow {

      50% {
        box-shadow: inset 0 0 4rem rgba(255,255,255,0.1), inset 0 0 7rem var(--card-color);
      }

    }

    tk-text {
      visibility: visible;
    }

  }

  .deck, .stack {
    position: absolute;
    font-size: 1.6vh;

    tk-text {
      font-size: 2em;
    }
  }

  .stack {
    tk-card {
      position: absolute;
    }
  }

  .deck {
    //position: relative;
    //align-self: start;
    //text-align: center;
    display: flex;
    justify-content: center;
    left: 1em;
    bottom: 1em;

    //font-size: 40px;
    overflow: hidden;
    box-sizing: border-box;
    xbackground-color: #66339985;
    align-items: flex-end;
    padding-bottom: 0.4em;
    text-shadow: 1px 2px 5px grey;
    transform: translateZ(1px) rotateY(.5turn);

    &.flip-transform:after {
      backface-visibility: visible;
    }

    tk-text {
      z-index: 1;
    }

  }

}
