board-game {

  flex: 1;

  display: flex;
  flex-direction: column;

  //z-index: 1;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  transform: rotateX(45deg) translateZ(0em);
  transform-origin: bottom;
  border: 3px solid var(--border-color);
  background-color: rgba(43, 43, 43, 0.25);
  //transform-style: preserve-3d;
  overflow: visible;

  min-height: 131px;

  .deck, .stack {
    position: absolute;
    font-size: 1.6vh;

    tk-text{
      font-size:2em;
    }
  }

  .stack {
    tk-card {
      position: absolute;
    }
  }

  .deck {
    //position: relative;
    //align-self: start;
    //text-align: center;
    display: flex;
    justify-content: center;
    left: 1em;
    bottom: 1em;

    //font-size: 40px;
    overflow: hidden;
    box-sizing: border-box;
    xbackground-color: #66339985;
    align-items: flex-end;
    padding-bottom: 0.4em;
    text-shadow: 1px 2px 5px grey;

    &.flip-transform:after{
      backface-visibility: visible;
    }

    tk-text{
      z-index: 1;
    }

  }

}
