board-game {

  flex: 1;

  display: flex;
  flex-direction: column;

  //z-index: 1;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  transform: rotateX(45deg) translateZ(0em);
  transform-origin: bottom;
  border: 3px solid var(--border-color);
  background-color: rgba(43, 43, 43, 0.25);
  //transform-style: preserve-3d;
  overflow: visible;
  pointer-events: none;
  min-height: 131px;

  &.Y {
    --card-color: rgb(248, 233, 0);
  }

  &.G {
    --card-color: #90cf0a;
  }

  &.B {
    --card-color: #01bef1;
  }

  &.R {
    --card-color: #e44520;
  }
  &.M {
    --card-color: #d1e4e4;
  }

  tk-text.marker {
    position: absolute;
    top: 0;
    font-size: 4em;

    -webkit-background-clip: text;
    color: var(--card-color);
    -webkit-text-fill-color: transparent;
    filter: opacity(0);
  }


  &.taki-mode {
    box-shadow: inset 0 0 5rem var(--card-color);
    animation: glow 4s ease-out alternate infinite;
    border-color: var(--card-color);

    tk-text.marker {
      filter: opacity(1);/*for anime*/
      -webkit-text-stroke: 2px var(--card-color);

    }

    @keyframes glow {

      50% {
        box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.1), inset 0 0 7rem var(--card-color);
      }

    }

  }

  &.plus-2-mode {
    box-shadow: inset 0 0 5rem var(--card-color);
    animation: glow 4s ease-out alternate infinite;
    border-color: var(--card-color);

    tk-text.marker {
      filter: opacity(1);/*for anime*/
      -webkit-text-stroke: 2px var(--card-color);
    }

    @keyframes glow {

      50% {
        box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.1), inset 0 0 7rem var(--card-color);
      }

    }

  }

  &.change-color-mode{
    box-shadow: inset 0 0 5rem var(--card-color);
    animation: glow 4s ease-in-out alternate infinite;
    border-color: var(--card-color);

    background-image: conic-gradient(#f008, #ff08, #0f08, #0ff8, #f008), radial-gradient(#0008, #fff8);
    background-blend-mode: multiply;

    tk-text.marker {
      filter: opacity(1);/*for anime*/
      -webkit-text-stroke: 2px var(--card-color);
    }

    @keyframes glow {

      50% {
        box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.1), inset 0 0 7rem var(--card-color);
      }

    }
  }


  .deck, .stack {
    position: absolute;
    font-size: 1.6vh;

    tk-text {
      font-size: 2em;
    }
  }

  .stack {
    tk-card {
      position: absolute;
    }
  }

  .deck {
    display: flex;
    justify-content: center;
    left: 1em;
    bottom: 1em;

    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-end;
    padding-bottom: 0.4em;
    text-shadow: 1px 2px 5px grey;
    pointer-events: all;

    &:after {
      backface-visibility: visible;
      transform: none;
    }

    tk-text {
      z-index: 1;
    }

  }

  &.deck-empty{
     .deck{
       mix-blend-mode: multiply;
     }
  }
}
