$border-round: .5em;

player-list {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  height: 7em;
  align-content: flex-start;
}

player {
  display: flex;
  color: white;
  align-self: baseline;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  border-bottom: 3px solid var(--player-color);

  .icon.avatar {
    font-size: 2em;
    height: 1em;
    width: 1.2em;
    background: var(--color);
    text-align: center;

    *:before {
      display: inline-block;

    }


  }

  small-panel-value {
    display: inline-block;
    margin-left: .5em;
    padding: 0.3em;
  }
  .name {
    color: var(--player-color);
  }

  .slogan{
    display: none;
  }
  &.active {

  }
}


player.main {
  display: grid;
  width: 27em;
  flex-flow: wrap;
  height: 100%;
  margin-left: 0;
  border: none;
  grid-template-columns: 5em 1fr;

  .player-slogan{
    grid-column: 2;
  }
  .amount-hand-cards{
    grid-row: 2;
    grid-column: 1;
  }
  .time-left{
    grid-column: 1;
  }

  .icon.avatar {
    font-size: 4em;
    height: 1em;
    width: 1.2em;
    background: var(--color);
    /* padding: 0.1em; */
    text-align: center;

    *:before {
      display: inline-block;

    }
  }

  .player-name, .player-slogan{
    font-style: italic;
    display: unset;
    white-space: nowrap;
  }

  .player-name {
    color: var(--player-color);
    font-size: 3em;
  }

  .player-slogan {
    font-size: 2em;
    align-self: flex-end;
    margin-left: 1em;
  }

}

