@import "./players-board-layout";
$border-round: .5em;


/*layout*/
tk-player-board {
  color: white;
  border: 3px solid var(--player-color);
  filter: brightness(0.8) sepia(1) blur(1px);

  &.active {
    background-blend-mode: hue, hue;
    isolation: auto;

    background-image:
      radial-gradient(var(--player-color) 0%, #8888 );
    transform-origin: left center;
    filter: none;
  }

  &.offline{
    filter: brightness(0.5) grayscale(1);
  }

  .player-name, .player-slogan {
    font-style: italic;
    white-space: nowrap;
  }

  tk-card {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-1rem, -2.2rem) rotateY(180deg) scale(0.3) rotateZ(17deg);
  }

  .player-name {
    color: var(--player-color);
  }

  .avatar {
    height: 1em;
    width: 1.2em;
  }

}

tk-player-board.main-player {
  padding-right: .5em;

  .player-name {
    font-size: 3em;
  }

  .player-slogan {
    font-size: 2em;
    margin-left: 1em;
  }

}

tk-player-board.small-player-panel {
  padding-bottom: 0.3em;

  .player-name {
    font-size: 2em;
  }

  .avatar {
    font-size: 2em;
    height: 2em;
    width: 2em;
  }

}




