welcome-board {

  .icon {
    margin-right: 0.3em;
  }
  h1{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #00000024;

    tk-icon{
      color: black;
    }
  }
  h2{
    margin: 0;
  }
}
