:root{
  --perspective: 30cm;
  --border-color:  #5d677e;
}

$card-green: green;
$card-yellow: yellow;
$card-red: red;
$card-blue: #9090f7;

$shadow-green: #316144;
$shadow-yellow: hsla(60, 5%, 50%, 1);
$shadow-red: #bf6659;
$shadow-blue: #584775;


$on-medium-screen: only screen and (max-width: 60em);
$on-small-screen: only screen and (max-width: 30em);
$on-large-screen: only screen and (min-width: 100em);
